// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (c) 2025 nobody
 */

/dts-v1/;

#include <dt-bindings/gpio/x86-gpio.h>
#include <dt-bindings/interrupt-router/intel-irq.h>

/include/ "skeleton.dtsi"
/include/ "rtc.dtsi"

#include "tsc_timer.dtsi"
#include "smbios.dtsi"

/ {
	model = "Asus Zenfone Zoom";
	compatible = "asus,z00xs", "intel,tangier";

	aliases {
		serial0 = &framebuffer;
	};

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		stdout-path = "serial0:115200n8";

		framebuffer: framebuffer@7f700000 {
			compatible = "framebuffer-serial";
			//compatible = "simple-framebuffer", "framebuffer-serial";
			reg = <0x0 0x7f700000 0x0 0x7F8000>;
			//width = <1080>;
			//height = <1920>;
			//stride = <(1088 * 4)>;
			//format = "a8r8g8b8";
			bootph-all;
		};
	};


	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "cpu-x86";
			reg = <0>;
			intel,apic-id = <0>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "cpu-x86";
			reg = <1>;
			intel,apic-id = <2>;
		};

		cpu@2 {
			device_type = "cpu";
			compatible = "cpu-x86";
			reg = <1>;
			intel,apic-id = <4>;
		};

		cpu@3 {
			device_type = "cpu";
			compatible = "cpu-x86";
			reg = <1>;
			intel,apic-id = <6>;
		};
	};

	emmc: mmc@ff3fc000 {
		compatible = "intel,sdhci-tangier";
		reg = <0xff3fc000 0x1000>;
		non-removable;
	};

	sdcard: mmc@ff3fa000 {
		compatible = "intel,sdhci-tangier";
		reg = <0xff3fa000 0x1000>;
	};

	pinctrl {
		compatible = "intel,pinctrl-anniedale";
		reg = <0xff0c0000 0x8000>;
		sd_cd@0 {
			pad-offset = <25>;
			mode-func = <3>;
		};
	};
};
