CONFIG_X86=y
CONFIG_DEFAULT_DEVICE_TREE="z00xs"
CONFIG_DEBUG_UART_BASE=0x7f700000
CONFIG_DEBUG_UART_CLOCK=0
CONFIG_VENDOR_ASUS=y
CONFIG_TARGET_Z00XS=y
CONFIG_DEBUG_UART=y
CONFIG_SMP=y
CONFIG_OF_EMBED=y
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="board/asus/z00xs/z00xs.env"
CONFIG_CPU=y
CONFIG_FRAMEBUFFER_SERIAL=y
CONFIG_DEBUG_UART_FRAMEBUFFER=y
CONFIG_VIDEO_SIMPLE=y
CONFIG_GENERATE_ACPI_TABLE=y
