CONFIG_X86=y
CONFIG_DEFAULT_DEVICE_TREE="z00xs"
CONFIG_VENDOR_ASUS=y
CONFIG_TARGET_Z00XS=y
CONFIG_SMP=y
CONFIG_OF_EMBED=y
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="board/asus/z00xs/z00xs.env"
CONFIG_CPU=y
CONFIG_GENERATE_ACPI_TABLE=y
